AWS_GUI_Dev/BAWGUI.Xml/EventXsd/EventList_Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="Events" type="EventSequenceType" />

  <xs:complexType name="EventSequenceType">
    <xs:sequence>
      <xs:element name="ForcedOscillation" type="ForcedOscillationType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="WindRamp" type="WindRampType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Ringdown" type="RingdownType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="OutOfRangeGeneral" type="OutOfRangeFrequencyType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WindRampType">
    <xs:sequence>
      <xs:element name="ID" type="xs:decimal" />
      <xs:element name="PMU" type="xs:string" />
      <xs:element name="Channel" type="xs:string" />
      <xs:element name="TrendStart" type="xs:string" />
      <xs:element name="TrendEnd" type="xs:string" />
      <xs:element name="TrendValue" type="xs:decimal" />
      <xs:element name="ValueStart" type="xs:decimal" />
      <xs:element name="ValueEnd" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType id="ForcedOscillationType" name="ForcedOscillationType">
    <xs:sequence>
      <xs:element name="ID" type="xs:decimal" />
      <xs:element name="OverallStart" type="xs:string" />
      <xs:element name="OverallEnd" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="Occurrence">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OccurrenceID" type="xs:decimal" />
            <xs:element name="Frequency" type="xs:decimal" />
            <xs:element name="Start" type="xs:string" />
            <xs:element name="End" type="xs:string" />
            <xs:element name="Persistence" type="xs:unsignedInt" />
            <xs:element name="AlarmFlag" type="xs:unsignedByte" />
            <xs:element maxOccurs="unbounded" name="Channel">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string" />
                  <xs:element name="Amplitude" type="xs:float" />
                  <xs:element name="SNR" type="xs:float" />
                  <xs:element name="Coherence" type="xs:float" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RingdownType">
    <xs:sequence>
      <xs:element name="ID" type="xs:decimal" />
      <xs:element name="Start" type="xs:string" />
      <xs:element name="End" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="Channel">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PMU" type="xs:string" />
            <xs:element name="Name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="OutOfRangeFrequencyType">
    <xs:sequence>
      <xs:element name="ID" type="xs:decimal" />
      <xs:element name="Start" type="xs:string" />
      <xs:element name="End" type="xs:string" />
      <xs:element name="Extrema" type="xs:string" />
      <xs:element name="ExtremaFactor" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="Channel">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PMU" type="xs:string" />
            <xs:element name="Name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>